.card {
    background-color: #F7F7FA;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards-list__product-purpose {
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;
}
.cards-list__card li {
    list-style: circle;
    padding: 5px;
    font-size: 13px;
}

.cards-list__description {
    font-weight: 300;
    font-size: 13px; 
    line-height: 18px;
}

.cards-list__card {
    margin-bottom: 20px;
    width: 340px;
}

.cards-list__product-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 340px;
}
.cards-list__product-title {
    font-size: 20px;
}

.cards-list__product-price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cards-list__product-composition {
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}

.cards-list__product-composition li {
    margin-left: -20px; 
}