body {
    font-family: "Montserrat", sans-serif;
    color: #515076;
    background-image: url("images/bg-flowers.png");
} 

.container {
    width: 1280px;
    margin: 0 auto;
}

.main-title {
    text-align: center;
    font-size: 70px; 
    margin-top: 50px;
    margin-bottom: 110px;
    font-weight: 400;
}


ul {
    list-style: none;
}

